pypet==0.3.0
matplotlib==1.5.2rc2
quantities==0+unknown
seaborn==0.7.1
h5py==2.5.0
ipykernel==4.5.2
ipython==5.2.2
ipython-genutils==0.1.0
ipywidgets==5.2.2
jupyter==1.0.0
jupyter-client==4.4.0
jupyter-console==5.0.0
jupyter-core==4.2.0
numpy==1.10.4
PyNN==0.7.5
scipy==0.18.1
tables==3.2.2
# PyNEST==2.11.0
# elephant==0.3.0
# neo==0.4.0.dev0
